.button
{
    width: 100%;
    height: 50px;
    border: black;
    color: black;
    background-color:white;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px solid black;

}
.end button
{
  
    width:452px;
    height: 50px;
    border: black;
    color: black;
    background-color:white;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px solid black;
}
.end button:hover{
    background-color:#5cb85c;
    color: white;
}
.button:hover{
    background-color:#5cb85c;
    color: white;
}
.form-control
{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}
.form-inline
{
    margin-top: 50px;
}
.header
{
    text-align: center;
    font-family: monospace;
    margin-top: 50px;
}
.sty
{
    width: 100%px;
    height: 80px;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    border: 1px solid black;
    margin-top: 8px;
}
.sty button{
    width:80px;
    background-color:white;
    border-radius: 5px;
    color:black;
    margin-top: 18px;

}
.sty .button:hover{
    background-color:#5cb85c;
    color: white;
}
.sty li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}